:root {
  --Very-dark-blue: hsl(233, 47%, 7%);
  --Dark-desaturated-blue: hsl(244, 38%, 16%);
  --Soft-violet: hsl(277, 64%, 61%);
  --Slightly-transparent-white-main: hsla(0, 0%, 100%, 0.75);
  --Slightly-transparent-white-stat-headings: hsla(0, 0%, 100%, 0.6);
}

* {
  margin: 0;
  padding: 0;
  /* box-sizing: border-box; */
}

body {
  background-color: var(--Very-dark-blue);
  font-family: "Inter", sans-serif;
}

h1 {
  color: white;
  font-size: 35px;
  padding-bottom: 24px;
}

span {
  color: var(--Soft-violet);
}

p {
  font-size: 15px;
}

.body-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
}

.card-container {
  display: flex;
  background-color: var(--Dark-desaturated-blue);
  max-width: 1000px;
  flex-grow: 1;
  flex-shrink: 1;
  border-radius: 20px;
  overflow: hidden;
}

.description-container {
  padding: 64px;
  max-width: 400px;
  align-content: space-between;
}

.main-para {
  color: var(--Slightly-transparent-white-main);
  max-width: fit-content;
  text-align: left;
  padding-bottom: 64px;
}

.stats-container {
  display: flex;
  gap: 64px;
  justify-self: flex-end;
  align-self: flex-end;
}

.caption {
  color: var(--Slightly-transparent-white-stat-headings);
}

.sub-heading {
  color: white;
  font-size: 20px;
  font-family: "Lexend Deca", sans-serif;
}

.img-container {
  background-image: url(images/image-header-desktop.jpg);
  width: 50%;
  max-height: fit-content;
}

.overlay {
  background-color: blueviolet;
  width: 100%;
  height: 400px;
  opacity: 0.5;
}
